.skill{
    background-image: url("https://media.istockphoto.com/videos/black-geometric-squares-abstract-technology-motion-background-video-id1169274951?b=1&k=6&m=1169274951&s=640x640&h=-OonzGNlN2Uos2uFds2UqVe8rSf9Yzs_Buza17SQcuc=");
   height: 800px;
   background-size: 100%;
}