.hsc{
    border:solid lightgray 1px;
    box-shadow: lightgray 2px 5px 5px;
    background-color: blanchedalmond;
    text-align: center;
}
.box{
    border:solid lightgray 2px;
    box-shadow: lightgray 2px 5px 7px;
    background-color: rgba(255, 248, 220, 0.685);
    
}
.card{
    margin-top: 10px;
}